main {
    grid-area: main;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 30px;
    margin: 20px;
}

section {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    font-size: larger;
}

h1 > span:first-child {
    color: hotpink;
}

h1 > span:nth-child(2) {
    color: dodgerblue;
}

/*עיצוב לטאבלט*/
@media screen and (max-width:960px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "section2 section2"
            "section3 section1";
        gap: 15px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    section {
        height: 185px;
        font-size: large;
    }

    section:first-child {
        grid-area: section1;
        height: 270px;
    }

    section:nth-child(2) {
        grid-area: section2;
    }

    section:last-child {
        grid-area: section3;
        height: 270px;
    }
}

/*עיצוב לטלפון*/
@media screen and (max-width: 480px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "section2"
            "section1"
            "section3";
        gap: 15px;
        position: static;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
    }

    section {
        height: 150px;
        font-size: medium;
    }

    section:first-child {
        grid-area: section1;
        height: auto;
    }

    section:nth-child(2) {
        grid-area: section2;
        height: auto;
    }

    section:last-child {
        grid-area: section3;
        height: auto;
    }
}