/*דף עיצוב הרלוונטי לכל הדפים באתר*/
html, body {
    font-family: 'Yu Gothic';
    direction: rtl; /*כיוון מימין לשמאל כדי שהאתר יותאם לעברית*/
    background: linear-gradient(to bottom, lightskyblue, pink); /*רקע האתר- מעבר בין ורוד לכחול (אומברה)- גרדיאנט לינארי*/
    margin: 0;
    padding: 0;
    min-height: 100vh; /*הגדרת גובה מינימלי של המסך*/
    box-sizing: border-box;
}

.main-container {
    display: grid; /*שימוש בגריד כדי לסדר את האלמנטים*/
    grid-template-columns: 1fr; /*עמודה 1*/
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: /*סידור הגריד*/
        "header"
        "nav"
        "main"
        "footer";
    width: 100%;
    min-height: 100vh; /*הגדרת גובה מינימלי של המיכל*/
    background: inherit; /*מסדר שצבע הרקע יהיה כמו של הבאדי- אחרת זה עושה בעיות*/
}

header {
    grid-area: header;
    font-size: xx-large;
    display: flex; /*בכדי למרכז את הכותרת ביחס לדף- כולל השורות שנמצאות מתחת לשורה הזו*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav {
    grid-area: nav;
    display: flex; 
    justify-content: space-between; /*פיזור אלמנטים בצורה שווה*/
    align-items: center; /*מירכוז אלמנטים*/
    padding: 1rem;
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

nav > div {
    flex: 1; /*כל דיב יתפוס חלק שווה בפלקסבוקס*/
    text-align: center;
    background-color: dodgerblue;
    color: pink;
    margin: 0;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /*אנימציה בזמן מעבר בין צבעים וטרנספורמציה*/
    white-space: nowrap; /*מונע קפיצת שורות*/
}
/*החלפת הצבעים במעבר עכבר על הדיב*/
nav > div:hover {
    background-color: pink;
    color: dodgerblue;
}

nav > div > a {
    text-decoration: none; /*ביטול קו תחתון*/
    font-weight: bold;
    font-size: large;
    color: inherit;
    font-size: x-large;
}

nav > div > a:hover {
    text-decoration: underline; /*הוספת קו מתחת כשהעכבר עובר*/
}

/*הסרת הקו מתחת לקישורים וצביעת המלל בשחור*/
section li > a {
    text-decoration: none;
    color: black;
    text-align: left;
}
/*הוספת קו מתחת לקישורים וצביעת המלל בכחול כשהעבר עובר*/
section li > a:hover {
    text-decoration: underline;
    color: blue;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #002366;
    margin: 15px;
    padding-bottom: 5px;
    gap: 5px;
}

footer > div {
    flex: none;
    display: flex;
    align-items: center;
    font-size: larger;
}

footer > div:first-child {
    margin-right: auto;
    text-align: right;
}

footer > div:last-child {
    margin-left: auto;
    text-align: left;
}

footer img {
    display: block;
    margin: 0 5px;
}

img {
    height: 100px;
}

h1 {
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, 1px 1px 0 white;
}

div {
    display: block;
}

p {
    margin: 0px;
}

/*עיצוב לטאבלט*/
@media screen and (max-width:960px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: medium;
    }

    footer > div:first-child {
        margin: 0px;
        margin-bottom: 5px;
    }

    footer > div:nth-child(2) {
        margin: 0px;
        height: 80px;
    }

    footer > div:last-child {
        margin: 0px;
        margin-bottom: 5px;
    }

    h2, h3, p {
        margin: 0px;
    }
}

/*עיצוב לטלפון*/
@media screen and (max-width: 480px) {
    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        gap: 10px;
    }

    nav > div:nth-child(4) {
        grid-column: 1;
    }

    nav > div:nth-child(5) {
        grid-column: 2;
    }

    nav > div {
        padding: 5px;
    }
}