main {
    grid-area: main;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 20px;
}

section {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: 5px;
    font-size: larger;
}