main {
    grid-area: main;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows:repeat(2,1fr);
    gap: 15px;
    margin: 20px;
}

section {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}
section > img {
    max-width: 95%; /*הגבלת רוחב התמונה לעד 95% מרוחב הסקשן*/
    height: 250px;
    object-fit: cover; /*שמירת מימדי התמונה תוך כדי חיתוך- מונע עיוות של התמונה*/
    border-radius: 5px;
}
section>p{
    margin-top:10px;
    font-size:medium;
}

/*עיצוב לטאבלט*/
@media screen and (max-width:960px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "section1 section2"
            "section3 section4"
            "section5 section6";
        gap: 15px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    section {
        font-size: large;
    }
    section:first-child {
        grid-area: section1;
    }
    section:nth-child(2) {
        grid-area: section2;
    }
    section:nth-child(3) {
        grid-area: section3;
    }
    section:nth-child(4) {
        grid-area: section4;
    }
    section:nth-child(5) {
        grid-area: section5;
    }
    section:last-child {
        grid-area: section6;
    }
}

/*עיצוב לטלפון*/
@media screen and (max-width:480px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
            "section1"
            "section2"
            "section3"
            "section4"
            "section5"
            "section6";
        gap: 15px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    section {
        font-size: large;
    }

    section:first-child {
        grid-area: section1;
    }

    section:nth-child(2) {
        grid-area: section2;
    }

    section:nth-child(3) {
        grid-area: section3;
    }

    section:nth-child(4) {
        grid-area: section4;
    }

    section:nth-child(5) {
        grid-area: section5;
    }

    section:last-child {
        grid-area: section6;
    }
}